<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>صفحه خوش آمد گویی</title>

    <link rel="stylesheet" href="css/materialdesignicons.css">
    <link rel="shortcut icon" href="images/icon.ico" type="image/icon" sizes="16*16">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/register-login.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>


<!--main start-->
<main>
    <div class="col-12">
        <div class="modal-layout">
            <section class="page-account-box">
                <div class="col-12 col-md-7 mx-auto">
                    <div class="account-box">
                        <div class="box-login-logo">
                            <a href="#" class="logo">
                                <img src="images/logo.png" alt="logo">
                            </a>
                        </div>
                        <div class="page-title">
                            <span>به دیجی کالا خوش آمدید</span>
                        </div>
                        <div class="welcome-page-logo">
                            <div class="welcome-page-container">
                                <i class="mdi mdi-account-circle-outline"></i>
                            </div>
                        </div>
                        <div class="made-account">
                            <h2> حساب کاربری شما با موفقیت در دیجی کالا ساخته شد</h2>
                            <p>
                                اکنون می‌توانید به صفحه‌ای که در آن بودید بازگردید و یا با تکمیل اطلاعات حساب کاربری خود
                                به
                                کلیه امکانات و سرویس‌های دیجی کالا و سرویس‌های وابسته به آن دسترسی داشته باشید
                            </p>
                        </div>
                        <div class="btn-submit">
                            <button>
                                تکمیل حساب کاربری
                                <i class="fa fa-user-alt"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <footer class="footer-light">
                <div class="container">
                    <ul class="footer-light-link">
                        <li>
                            <a href="#">درباره دیجی کالا</a>
                        </li>
                        <li>
                            <a href="#">فرصت های شغلی</a>
                        </li>
                        <li>
                            <a href="#">تماس با ما</a>
                        </li>
                        <li>
                            <a href="#">همکاری با سازمان ها</a>
                        </li>
                    </ul>
                    <p class="footer-title">استفاده از مطالب فروشگاه اینترنتی دیجی کالا فقط برای مقاصد غیر تجاری و با
                        ذکر منبع بلامانع است. کلیه حقوق این سایت متعلق به شرکت نوآوران فن آوازه (فروشگاه اینترنتی دیجی
                        کالا) می باشد.</p>
                    <p class="footer-copyright-light">
                        Copyright © 2006 - 2020 Digikala.com
                    </p>
                </div>
            </footer>
        </div>
    </div>
</main>


<!--main end-->


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/fontAwesome.js"></script>

</body>
</html>