<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ورود/ثبت نام</title>

    <link rel="stylesheet" href="css/materialdesignicons.css">
    <link rel="shortcut icon" href="images/icon.ico" type="image/icon" sizes="16*16">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/loginDigi.css">
    <link rel="stylesheet" href="css/responsive.css">
</head>
<body class="login">


<!--main start-->
<main class="login" style="top: 300px">
    <div class="box-login">
        <div class="page--account-box">
            <form action="">
                <div class="login__header-logo">
                    <a href="index.html">
                        <img src="images/logoDigi.svg" alt="">
                    </a>
                </div>
                <div class="login__form-header">ورود / ثبت نام</div>
                <div class="login__opt-mobile-message">شماره موبایل یا پست الکترونیک خود را وارد کنید</div>
                <div class="login__form-row">
                    <label for="" class="form__field-container">
                        <input type="text">
                    </label>
                </div>
                <button class="c-login__form-action">ورود به دیجی کالا</button>
                <p class="login__footer">
                    با ورود و یا ثبت نام در دیجی کالا شما
                    <a href="#">شرایط و قوانین</a>
                    استفاده از سرویس های سایت دیجی کالا و
                    <a href="#">قوانین حریم خصوصی</a>
                    آن را می پذیرید.
                </p>
            </form>
        </div>
    </div>
</main>


<!--main end-->


<script src="js/jquery.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/fontAwesome.js"></script>


</body>
</html>