<!doctype html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>آدرس و زمان ارسال | فروشگاه اینترنتی دیجی کالا</title>

    <link rel="stylesheet" href="css/materialdesignicons.css">
    <link rel="shortcut icon" href="images/icon.ico" type="image/icon" sizes="16*16">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/shipping.css">
    <link rel="stylesheet" href="css/responsive.css">

</head>
<body>

<header>
    <div class="container-main">
        <div class="col-12 p-0">
            <div class="header-logo">
                <a href="#">
                    <img src="images/logo.png" alt="">
                </a>
            </div>

        </div>
    </div>
</header>
<main>
    <div class="container-main">
        <div class="col-12 p-0 position-relative">
            <div class="checkout-steps position-absolute">
                <ul>
                    <li class="is-active">
                        <div class="checkout-steps-item-summary" data-title="اطلاعات ارسال"></div>
                    </li>
                    <li>
                        <div class="checkout-steps-item-summary" data-title="پرداخت"></div>
                    </li>
                    <li>
                        <div class="checkout-steps-item-summary" data-title="اتمام خرید و ارسال"></div>
                    </li>
                </ul>
            </div>
            <section class="content">
                <div class="page-row">
                    <div class="col-12 col-md-9 pr-0">
                        <section>
                            <div class="shipping-content">
                                <div class="shipping-main-content">
                                    <div class="shipping-recipient-address">
                                        <div class="shipping-recipient-address-title">
                                            آدرس تحویل سفارش
                                        </div>
                                        <ul>
                                            <li>قزوین، تاکستان، خیابان امام موسی صدر خیابان علامه امینی کوچه شکوفه 1،
                                                پلاک ۱۲
                                            </li>
                                            <li class="username">
                                                <i class="far fa-user"></i>
                                                امیرحسین رحمانی
                                            </li>
                                            <li class="change-password">
                                                <a href="#">
                                                    تغيير يا ويرايش آدرس
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="checkout-shipment-info">
                                        <i class="mdi mdi-alert-circle-outline"></i>
                                        خرید شما به دلیل وجود کالای بزرگ/سنگین در چند مرحله ارسال می‌شود.
                                    </div>
                                    <form class="checkout-shipment-form">
                                        <div class="checkout-shipment-type">

                                            <div class="checkout-shipment-type-top">
                                                <div class="checkout-shipment-type-title">شیوه و زمان ارسال</div>
                                                <div class="checkout-shipment-type-tabs">
                                                    <div class="checkout-shipment-tab-pill ">
                                                        <input type="radio" id="Suggested" name="shipping[type]"
                                                               checked>
                                                        <label for="Suggested">
                                                            <span class="checkout-shipment-tab-pill-title">
                                                                <i class="fa fa-lightbulb"></i>
                                                            پیشنهادی
                                                            </span>
                                                            <span class="checkout-shipment-tab-pill-desc">
                                                            چینش مرسوله ها به پیشنهاد ما
                                                            </span>
                                                        </label>
                                                    </div>
                                                    <div class="checkout-shipment-tab-pill">
                                                        <input type="radio" id="fast-sending" name="shipping[type]">
                                                        <label for="fast-sending">

                                                            <span class="checkout-shipment-tab-pill-title">
                                                            <i class="fab fa-fantasy-flight-games"></i>
                                                            ارسال سریع
                                                        </span>
                                                            <span class="checkout-shipment-tab-pill-desc">
                                                            ارسال هر مرسوله به محض آماده شدن
                                                        </span>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="checkout-content">
                                                <div class="checkout-pack">
                                                    <div class="checkout-pack-header">
                                                        <div class="checkout-pack-header-title">
                                                            <span>مرسوله 1 از 2</span>
                                                        </div>
                                                        <div class="checkout-pack-header-desc">
                                                            <span>4 کالا</span>
                                                            <span class="checkout-time-table-shipping-lead-time">تامین کالا از ۱ روز کاری آینده</span>
                                                        </div>
                                                    </div>
                                                    <div class="checkout-pack-subheader">
                                                        <i class="fa fa-truck"></i>
                                                        ارسال عادی
                                                    </div>
                                                    <div class="checkout-pack-row">
                                                        <section>
                                                            <div class="products-box">
                                                                <div class="product-box-item">
                                                                    <a>
                                                                        <img src="images/shipping/1.jpg" alt="">
                                                                    </a>
                                                                    <div class="product-box-item-color">
                                                                        <span class="circle-color"
                                                                              style="background-color: #c77b30"></span>
                                                                        برنز
                                                                    </div>
                                                                </div>
                                                                <div class="product-box-item">
                                                                    <a>
                                                                        <img src="images/shipping/2.jpg" alt="">
                                                                    </a>
                                                                    <div class="product-box-item-color">
                                                                        <span class="circle-color"
                                                                              style="background-color: #ff5722"></span>
                                                                        نارنجی
                                                                    </div>
                                                                </div>
                                                                <div class="product-box-item">
                                                                    <a>
                                                                        <img src="images/shipping/3.jpg" alt="">
                                                                    </a>
                                                                    <div class="product-box-item-color">
                                                                        <span class="circle-color"
                                                                              style="background-color: #000"></span>
                                                                        مشکی
                                                                    </div>
                                                                </div>
                                                                <div class="product-box-item">
                                                                    <a>
                                                                        <img src="images/shipping/4.jpg" alt="">
                                                                    </a>
                                                                    <div class="product-box-item-color">
                                                                        <span class="circle-color"
                                                                              style="background-color: #fff"></span>
                                                                        سفید
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="checkout-pack-row-send-time">
                                                        <div class="checkout-pack-row-send-time-title">
                                                            <i class="mdi mdi-clock-outline"></i>
                                                            انتخاب زمان ارسال
                                                            <i style="margin-right: 8px; color: #78168b"
                                                               class="mdi mdi-folder-star-outline"></i>
                                                            <span>بازه‌های دارای ظرفیت اختصاصی برای اعضای دیجی‌پلاس</span>
                                                        </div>
                                                        <ul class=" swiper-wrapper">
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">شنبه</span>
                                                                <span class="time-table-day-date">18 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes]"
                                                                           id="hour-radio-1">
                                                                    <label for="hour-radio-1">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">یکشنبه</span>
                                                                <span class="time-table-day-date">19 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes]"
                                                                           id="hour-radio-2">
                                                                    <label for="hour-radio-2">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">دوشنبه</span>
                                                                <span class="time-table-day-date">20 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes]"
                                                                           id="hour-radio-3">
                                                                    <label for="hour-radio-3">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">سه شنبه</span>
                                                                <span class="time-table-day-date">21 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes]"
                                                                           id="hour-radio-4">
                                                                    <label for="hour-radio-4">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">چهارشنبه</span>
                                                                <span class="time-table-day-date">22 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes]"
                                                                           id="hour-radio-5">
                                                                    <label for="hour-radio-5">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="checkout-pack">
                                                    <div class="checkout-pack-header">
                                                        <div class="checkout-pack-header-title">
                                                            <span>مرسوله 2 از 2</span>
                                                        </div>
                                                        <div class="checkout-pack-header-desc">
                                                            <span>1 کالا</span>
                                                            <span class="checkout-time-table-shipping-lead-time">تامین کالا از ۱ روز کاری آینده</span>
                                                        </div>
                                                    </div>
                                                    <div class="checkout-pack-subheader">
                                                        <i class="fa fa-truck"></i>
                                                        ارسال کالاهای بزرگ و سنگین
                                                    </div>
                                                    <div class="checkout-pack-row">
                                                        <section>
                                                            <div class="products-box">
                                                                <div class="product-box-item">
                                                                    <a>
                                                                        <img src="images/shipping/5.jpg" alt="">
                                                                    </a>
                                                                    <div class="product-box-item-color">
                                                                        <span class="circle-color"
                                                                              style="background-color: green"></span>
                                                                        سبز
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </section>
                                                    </div>
                                                    <div class="checkout-pack-row-send-time">
                                                        <div class="checkout-pack-row-send-time-title">
                                                            <i class="mdi mdi-clock-outline"></i>
                                                            انتخاب زمان ارسال
                                                            <i style="margin-right: 8px; color: #78168b"
                                                               class="mdi mdi-folder-star-outline"></i>
                                                            <span>بازه‌های دارای ظرفیت اختصاصی برای اعضای دیجی‌پلاس</span>
                                                        </div>
                                                        <ul class=" swiper-wrapper">
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">شنبه</span>
                                                                <span class="time-table-day-date">18 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes1]"
                                                                           id="hour-radio-6">
                                                                    <label for="hour-radio-6">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">یکشنبه</span>
                                                                <span class="time-table-day-date">19 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes1]"
                                                                           id="hour-radio-7">
                                                                    <label for="hour-radio-7">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">دوشنبه</span>
                                                                <span class="time-table-day-date">20 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes1]"
                                                                           id="hour-radio-8">
                                                                    <label for="hour-radio-8">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">سه شنبه</span>
                                                                <span class="time-table-day-date">21 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes1]"
                                                                           id="hour-radio-9">
                                                                    <label for="hour-radio-9">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                            <li class="time-table__day-details">
                                                                <span class="time-table-day-name">چهارشنبه</span>
                                                                <span class="time-table-day-date">22 اردیبهشت</span>
                                                                <div class="time-table-hour-container">
                                                                    <input type="radio" name="shipping[time_scopes1]"
                                                                           id="hour-radio-10">
                                                                    <label for="hour-radio-10">
                                                                        <span class="hour-period">
                                                                            بازه
                                                                            9 - 22
                                                                        </span>
                                                                        <span class="cost">رایگان</span>
                                                                    </label>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                    <div class="purchase-invoice">
                                        <i class="mdi mdi-alert-circle-outline"></i>
                                        شما می‌توانید فاکتور خرید را پس از تحویل سفارش از بخش جزییات سفارش در
                                        حساب کاربری خود دریافت کنید.
                                    </div>
                                </div>
                                <div class="shipping-actions">
                                    <a href="#">
                                        <i class="fa fa-angle-right"></i>
                                        بازگشت به سبد خرید
                                    </a>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="col-12 col-md-3 pl-0">
                        <aside>
                            <div class="aside-content">
                                <div class="checkout-bill">
                                    <ul class="checkout-bill-summary">
                                        <li>
                                        <span class="checkout-bill-item-title">قیمت کالا
                                        <span>(5)</span></span>
                                            <span class="checkout-bill-item-price">
                                            48,104,000
                                            <span class="toman">تومان</span>
                                        </span>
                                        </li>
                                        <li class="black-color without-border">
                                            <span class="checkout-bill-item-title">جمع</span>
                                            <span class="checkout-bill-item-price">
                                            48,104,000
                                            <span class="toman">تومان</span>
                                        </span>
                                        </li>
                                        <li>
                                            <span class="checkout-bill-item-title">هزينه ارسال</span>
                                            <div class="num-boxes">
                                                <span>2</span>
                                                مرسوله
                                                <i class="fa fa-angle-left"></i>
                                                <div class="popup-marsoule">
                                                    <div class="popup-marsoule-item">
                                                        <span class="num">مرسوله 1</span>
                                                        <span class="send-type">
                                                        <i class="fa fa-truck"></i>
                                                        ارسال عادی
                                                    </span>
                                                        <span class="cost">
                                                        رایگان
                                                    </span>
                                                    </div>
                                                    <div class="popup-marsoule-item">
                                                        <span class="num">مرسوله 2</span>
                                                        <span class="send-type">
                                                        <i class="fa fa-truck"></i>
                                                        ارسال کالاهای بزرگ و سنگین
                                                    </span>
                                                        <span class="cost">
                                                        زمان ارسال را انتخاب کنید
                                                    </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <span class="checkout-bill-item-vabaste">
                                           وابسته به زمان ارسال
                                        </span>
                                        </li>
                                        <li class="without-border">
                                        <span class="checkout-bill-item-title">مبلغ قابل پرداخت
                                        <span>(5)</span></span>
                                            <span class="checkout-bill-item-price">
                                            48,104,000
                                            <span class="toman">تومان</span>
                                        </span>
                                        </li>
                                        <li class="button-submit">
                                            <button>
                                                برای ادامه، زمان ارسال را تعیین کنید
                                            </button>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer-digiclub">
                                    <div class="checkout-bill-digiclub">
                                        <div class="checkout-bill-digiclub-title">
                                            <i class="fa fa-star" style="color: #e7ab43"></i>
                                            امتیاز دیجی کلاب
                                            <i class="fa fa-angle-left"></i>
                                            <div class="popup-digiclub-title">
                                                <div class="popup-digiclub-title-item">
                                                    <span>مرسوله 1</span>
                                                    <span>150 امتیاز</span>
                                                </div>
                                                <div class="popup-digiclub-title-item">
                                                    <span>مرسوله 2</span>
                                                    <span>150 امتیاز</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="checkout-bill-digiclub-score">
                                            300 امتیاز
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </section>
        </div>
    </div>
</main>


<div class="dark"></div>
<div class="address-modal">
    <div class="address-modal-wrapper">
        <div class="address-modal-header">
            <div class="address-modal-header-title">
                <i class="mdi mdi-map-marker"></i>
                افزودن آدرس جدید
            </div>
            <button class="close-modal">
                <i class="fa fa-close"></i>
            </button>
        </div>
        <div class="address-modal-content">
            <form action="">
                <fieldset>
                    <div class="modal-input-row">
                        <div class="modal-input-cell">
                            <label for="username">
                                نام تحویل گیرنده
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" id="username" placeholder="نام تحویل گیرنده را وارد کنید">
                        </div>
                    </div>
                    <div class="modal-input-row">
                        <div class="modal-input-cell">
                            <label for="phone">
                                شماره موبایل
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" class="align-ltr" id="phone" placeholder="09xxxxxxxxx">
                        </div>
                    </div>
                    <div class="modal-input-row">
                        <div class="modal-input-cell">
                            <label for="tell">
                                شماره تلفن ثابت
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" class="align-ltr" id="tell" placeholder="021xxxxxxxx">
                        </div>
                    </div>
                    <div class="modal-input-row">
                        <div class="modal-input-cell ">
                            <label for="ostan">
                                استان
                                <span class="required-star">*</span>
                            </label>
                            <select name="" id="ostan" onchange="province(this.value)">
                                <option value="0">لطفا استان را انتخاب نمایید</option>
                                <option value="1">تهران</option>
                                <option value="2">گیلان</option>
                                <option value="3">آذربایجان شرقی</option>
                                <option value="4">خوزستان</option>
                                <option value="5">فارس</option>
                                <option value="6">اصفهان</option>
                                <option value="7">خراسان رضوی</option>
                                <option value="8">قزوین</option>
                                <option value="9">سمنان</option>
                                <option value="10">قم</option>
                                <option value="11">مرکزی</option>
                                <option value="12">زنجان</option>
                                <option value="13">مازندران</option>
                                <option value="14">گلستان</option>
                                <option value="15">اردبیل</option>
                                <option value="16">آذربایجان غربی</option>
                                <option value="17">همدان</option>
                                <option value="18">کردستان</option>
                                <option value="19">کرمانشاه</option>
                                <option value="20">لرستان</option>
                                <option value="21">بوشهر</option>
                                <option value="22">کرمان</option>
                                <option value="23">هرمزگان</option>
                                <option value="24">چهارمحال و بختیاری</option>
                                <option value="25">یزد</option>
                                <option value="26">سیستان و بلوچستان</option>
                                <option value="27">ایلام</option>
                                <option value="28">کهگلویه و بویراحمد</option>
                                <option value="29">خراسان شمالی</option>
                                <option value="30">خراسان جنوبی</option>
                                <option value="31">البرز</option>
                            </select>
                        </div>
                        <div class="modal-input-cell">
                            <label for="city">
                                شهر
                                <span class="required-star">*</span>
                            </label>
                            <select name="" id="city">
                                <option value="0">لطفا استان را انتخاب نمایید</option>
                            </select>
                        </div>
                    </div>
                    <div class="modal-input-row">
                        <div class="modal-input-cell ">
                            <label for="plaque">
                                پلاک
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" id="plaque" placeholder="پلاک را وارد کنید" class="two-column">
                        </div>
                        <div class="modal-input-cell ">
                            <label for="unit">
                                واحد
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" id="unit" placeholder="واحد را وارد کنید">
                        </div>
                    </div>
                    <div class="modal-input-row">
                        <div class="modal-input-cell">
                            <label for="postal-code">
                                کد پستی
                                <span class="required-star">*</span>
                            </label>
                            <input type="text" id="postal-code" placeholder="کد پستی را وارد کنید">
                        </div>
                    </div>
                    <div class="modal-input-row">
                        <div class="modal-input-cell">
                            <label for="address">
                                آدرس
                                <span class="required-star">*</span>
                            </label>
                            <textarea name="" id="address" placeholder="آدرس را وارد کنید"></textarea>
                        </div>
                    </div>
                    <div class="modal-input-row submit">
                        <div class="modal-input-cell">
                            <button class="submit-address">ثبت آدرس</button>
                        </div>
                        <div class="modal-input-cell cancel">
                            <a href="#">
                                انصراف و بازگشت
                            </a>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<footer>
    <div class="container-main">
        <div class="shipping-footer">
            <div class="shipping-footer-top">
                <div class="shipping-footer-phone">
                    <i class="fa fa-phone"></i>
                    شماره تماس :
                    <a href="#">۶۱۹۳۰۰۰۰ - ۰۲۱</a>
                </div>
                <div class="shipping-footer-email">
                    <i class="far fa-envelope"></i>
                    آدرس ایمیل :
                    <a href="#">info@digikala.com</a>
                </div>
            </div>
            <div class="shipping-footer-message">
                استفاده از کارت هدیه یا کد تخفیف، درصفحه ی پرداخت امکان پذیر است.
            </div>
            <div class="copyright">
                Copyright © 2006 - 2020 Digikala.com
            </div>
        </div>
    </div>
</footer>


<script src="js/jquery.js"></script>
<script src="js/fontAwesome.js"></script>
<script src="js/city.js"></script>

<script>
    $('.change-password a').on('click', function () {
        $('.dark').fadeIn(300);
        $('.address-modal').slideDown(300);
        $('body').css({
            height: '100vh',
            overflow: 'hidden'
        })
    })

    $('.close-modal,.dark').on('click', function () {
        $('.dark').fadeOut(300);
        $('.address-modal').slideUp(300);
        $('body').css({
            height: 'auto',
            overflow: 'auto'
        })

    })

</script>
</body>
</html>